/* TABLE OF CONTENT
    # ROOT VARIABLES
    # GENERIC STYLES
    # HEADER
    # MAIN SECTION & DESC SECTION
    # GRIDS
    # FOOTER

  Hint: Use search feature to move between topics
*/


/*# ROOT VARIABLES*/

/* CSS variables, representing basic theme parameters.
   Change it to customize site layout */

:root {
  /*Backgrounds and shadows*/
  --main-image: url('./assets/images/mainBg.jpg');
  --dark-background: #BEDEFF;
  --background: #E0F3FF;
  --light-background: #F1FAFF;
  --buttons-color: #9CCEFF;
  --buttons-hover: #6DB5FC;
  --shadow: 2px 2px 4px #5d62ff1e;

  /*Typography*/
  --font: 'Roboto', sans-serif;
  --primary-text-color: #0026a5;
  --secondary-text-color: #00255c;
  --common-text-color: #00255c;

  /*Minor UI elements*/
  --divider: 2px solid var(--primary-text-color);

  /*Technical variables. You shouldn't touch that*/
  --viewport-width: 1000px; /*Sets content container width to 1000px (by defaults)*/ 
  --viewport-padding: calc((100vw - var(--viewport-width))/2);
}


/*# GENERIC STYLES*/

* {
  clear: left;
}

ul {
  margin: 0;
  padding: 0;
}


/* Typography */
html {
  font-size: 16px;
  font-family: var(--font);
}

body {
  background: var(--light-background);
}

h1 {
  font-size: 4rem;
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.8rem;
  color: var(--primary-text-color);
  margin-bottom: 14px;
}

h3 {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.main-text {
  font-size: 1.4rem;
  margin-top: 5px;
  padding: 0;
  text-indent: 10px;
  text-align: justify;
  color: var(--common-text-color);
}

.additional-text {
  font-size: 1.3rem;
  color: var(--secondary-text-color);
}

.description {
  font-size: 1rem;
  color: var(--common-text-color);
}

section {
  margin-bottom: 20px;
  min-height: 30vh;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: 600;
}

.nav-item {
  font-size: 1.1rem;
}

.hint {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  color: var(--secondary-text-color);
}

i:not(:hover) {
  color: var(--primary-text-color);
}

/* Generic flex-boxes and navigation*/
.horizontal-flex-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.horizontal-flex-block .hflex-item:nth-child(n+2) {
  margin-left: 10px;
}

.vertical-flex-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.vertical-flex-block .vflex-item:nth-child(n+2) {
  margin-top: 10px;
}

nav li {
  list-style-type: none
}

.social-nav-container {
  margin-left: auto
}

.social-nav {
  font-size: 20px;
  margin-top: 5px;
  width: 100%;
  margin-left: 0;
}


/* Buttons and links*/
.button {
  padding: 10px;
  font-size: 1.1;
  background: var(--buttons-color);
  border-radius: 5px;
  transition: background 0.3s ease-in-out; 
}

.button:hover{
  transition: background 0.3s ease-in-out; 
  background: var(--buttons-hover);
}

.background {
  float: left;
  background: var(--background);
  padding: 20px 0;
}

.leftside-wide-btngroup {
  float: left;
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  background: var(--buttons-color);
  padding: 5px 5px;
  position: absolute;
  bottom: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.leftside-wide-btngroup .button:first-child{
  border-left: var(--divider);
}

.leftside-wide-btngroup .button {
  border-radius: 0;
}


.pictogram {
  padding: 5px;
}

.link {
  border-bottom: 1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
}

.link:hover {
  color: var(--primary-text-color);
  transition: color 0.2s ease-in-out;
  border-bottom: 1px solid var(--secondary-text-color);
}

.ltblue-hover {
  color: inherit;
  transition: color 0.2s ease-in-out;
}

.ltblue-hover:hover {
  transition: color 0.2s ease-in-out;
  color: #00aeff;
}

.blue-hover {
  color: inherit;
  transition: color 0.2s ease-in-out;
}

.blue-hover:hover {
  transition: color 0.2s ease-in-out;
  color: #0044ff;
}

.pink-hover {
  color: inherit;
  transition: color 0.2s ease-in-out;
}

.pink-hover:hover {
  transition: color 0.2s ease-in-out;
  color: #ff00f2;
}

.orange-hover {
  color: inherit;
  transition: color 0.2s ease-in-out;
}

.orange-hover:hover {
  transition: color 0.2s ease-in-out;
  color: #ff9100;
}

/* Layout components */
.container {
  margin-left: var(--viewport-padding);
  float: left;
  max-width: var(--viewport-width);
  padding: 0 20px;

  width: 100%;
  box-sizing: border-box;
}

.card {
  background: var(--light-background);
  box-shadow: var(--shadow);
}

.branding{
  display: flex;
}

.logo {
  border-radius: 100%;
  margin-right: 10px;
  box-shadow: var(--shadow);
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-top: 10px;
}

/*# HEADER */
header {
  height: 70px;
  background: var(--dark-background);
  box-shadow: var(--shadow);
  position: relative;
  z-index: 9999;
}

header .container {
  height: 100%;
}

.header-nav-container {
  background: var(--background);
  height: 100%;
  margin: 0 30px;
  width: 45%;
}

.header-nav {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around !important;
}

.header-nav li {
  width: 100%;
  padding: 2% 0;
  box-sizing: border-box;
  transition: background 0.2s ease-in-out;
  background: var(--background);
  margin: 0 !important;
  text-align: center;
}

.header-nav li:nth-child(n+2) {
  border-left: var(--divider);
}

.header-nav li:hover {
  background: var(--light-background);
  transition: all 0.2s ease-in-out;
}


/*# MAIN SECTION & DESC SECTION*/

#main-section {
  background: var(--main-image);
  height: 400px;
  position: relative;
}


/*# GRIDS*/

/*Cards*/
.masters-card {
  width: 100%;
  height: 150px;
}

.blog-card {
  width: 100%;
  min-height: 80px !important;
  height: 100%;
}

.masterpiece-card {
  width: 80px;
  height: 80px;
}

.masters-card-min {
  width: 80px;
  height: 80px;
}

.review-card {
  max-width: 620px;
  width: 100vw;
  height: 100px;
}

/*Articles grid*/

.articles-grid {
  display: grid;
  grid-template: 'title     title'
                  'articles desc'
                  'articles button'
                /  auto     1fr;
  justify-items: start;
  align-items: flex-start;
  margin-bottom: 60px;
}

.articles-grid .title{
  grid-area: title;
  margin-bottom: 14px;
  padding-left: calc(var(--viewport-padding) + 2% + 10px);
}

.articles-grid .description{
  grid-area: desc;
  margin-top: 0;
  margin-right: calc(var(--viewport-padding) + 2% + 10px);
  text-align: justify;
}

.articles-grid .articles {
  grid-area: articles;
  border-right: var(--divider);
  padding-right: 20px;
  margin-right: 30px;
  padding-left: calc(var(--viewport-padding) + 2% + 10px);
  max-width: 620px;
  width: 100vw;
}

.articles-grid .button {
  grid: button;
  align-self: flex-end;
}

@media screen and (max-width: 900px) { /*Articles grid for handheld devices*/

  .articles-grid {
    grid-template: 'title'
                         'articles'
                         'button' / 96%;
    margin: 0 2%;
  }

  .articles-grid .description{
    display: none;
  }

  .articles-grid .articles {
    border: none;
    margin-bottom: 10px;
  }

}

/*Message grid*/

.message-grid {
  display: grid;
  grid-template: 'title button'
                 'desc  .' / auto 1fr;
  align-items: center;
  justify-items: flex-start;
  justify-content: center;

  padding: 20px 0;
  background: var(--background);
}

.message-title {
  grid-area: title;
  border-right: var(--divider);
  padding-right: 20px;
  margin-right: 30px;
  max-width: 620px;
  width: 95vw;
  padding-left: calc(var(--viewport-padding) + 2% + 10px);
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--dark-background);
  padding-top: 10px;
  padding-bottom: 10px;
}

.message-grid .button {
  grid-area: button;
}

.message-grid .description {
  grid-area: desc;
  margin-right: 30px;
  max-width: 620px;
  width: 100vw;
  padding-left: calc(var(--viewport-padding) + 2% + 10px);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 900px) { /*Message grid for handheld devices*/
  .message-grid * {
    margin: 0;
  }

  .message-title {
    border-right: none;
    padding-left: 5px;
  }

  .message-grid {
    display: grid;
    grid-template: 'title'
                   'desc'
                   'button' / 96%;
    grid-gap: 10px;
    margin: 0 2%;
  }
}

/*News section grid*/

.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 117px;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  align-items: flex-start;
  margin-bottom: 10px;
}

.news-grid .big-topic {
  grid-row: span 3;
  width: 100%;
  height: 100%;
}

.news-grid .big-topic .cards {
  height: 90%;
}

.news-grid .medium-topic {
  grid-row: span 2;
  width: 100%;
  height: 100%;
}

.news-grid .medium-topic .cards {
  height: 84%;
}

.news-grid .small-topic {
  grid-row: span 1;
  width: 100%;
  height: 100%;
}

.news-grid .small-topic .cards {
  height: 80px;
}

.news-grid h3 {
  margin: 0;
  margin-bottom: 10px;
}

.topic-card {
  background: var(--light-background);
  box-shadow: var(--shadow);
  min-height: 50px;
  min-width: 50px;
}

.news-grid .link {
  align-self: flex-end;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

#news-section .background {
  margin-bottom: 30px;
}


/*# FOOTER*/

footer {
  background: var(--dark-background);
  position: relative;
  padding: 20px 0;
}

.footer-nav-container {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  padding-top: 35px;
  width: 30%;
  margin-right: calc(var(--viewport-padding));
  border-bottom: var(--divider);
  background: var(--background);
}

footer .social-nav-container {
  width: 100px;
  padding-right: 10px;
  border-right: var(--divider);
  float: left;
  margin-left: 182px;
  padding-bottom: 5px;
}

footer .branding{
  padding-right: 10px;
  width: 282px;
  border-right: var(--divider);
}

footer .background {
  padding: 0;
  padding-left: calc(var(--viewport-padding) + 2%);
  width: 292px;
  margin-bottom: 20px;
}

.footer-nav li {
  width: 100%;
  padding: 2% 0;
  box-sizing: border-box;
  transition: background 0.2s ease-in-out;
  background: var(--background);
  text-align: center;
}

.footer-nav li:hover {
  background: var(--light-background);
  transition: all 0.2s ease-in-out;
}

.copyrights {
  background: var(--background);
  padding: 5px 10px;
}